@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

#bodycontent{
    min-height: 15vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.p1{
    font-family: 'Rancho','Roboto Condensed','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-size: 42px;
}